/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



a[b-owouyn5hu4] {
  color: #0077cc;
}



.nav-pills .nav-link.active[b-owouyn5hu4], .nav-pills .show > .nav-link[b-owouyn5hu4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-owouyn5hu4] {
  border-top: 5px solid #e5e5e5;
}
.border-bottom[b-owouyn5hu4] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-owouyn5hu4] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-owouyn5hu4] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-owouyn5hu4] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 20px;
}
