@page
@model SpinsOnlineRazor.Pages.Masterlists.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Masterlist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Masterlist.MasterlistID" />
            <div class="form-group">
                <label asp-for="Masterlist.BeneficiaryID" class="control-label"></label>
                <select asp-for="Masterlist.BeneficiaryID" class="form-control" asp-items="ViewBag.BeneficiaryID"></select>
                <span asp-validation-for="Masterlist.BeneficiaryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.RegionID" class="control-label"></label>
                <select asp-for="Masterlist.RegionID" class="form-control" asp-items="ViewBag.RegionID"></select>
                <span asp-validation-for="Masterlist.RegionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.ProvinceID" class="control-label"></label>
                <select asp-for="Masterlist.ProvinceID" class="form-control" asp-items="ViewBag.ProvinceID"></select>
                <span asp-validation-for="Masterlist.ProvinceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.MunicipalityID" class="control-label"></label>
                <select asp-for="Masterlist.MunicipalityID" class="form-control" asp-items="ViewBag.MunicipalityID"></select>
                <span asp-validation-for="Masterlist.MunicipalityID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.BarangayID" class="control-label"></label>
                <select asp-for="Masterlist.BarangayID" class="form-control" asp-items="ViewBag.BarangayID"></select>
                <span asp-validation-for="Masterlist.BarangayID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.SexID" class="control-label"></label>
                <select asp-for="Masterlist.SexID" class="form-control" asp-items="ViewBag.SexID"></select>
                <span asp-validation-for="Masterlist.SexID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.MaritalstatusID" class="control-label"></label>
                <select asp-for="Masterlist.MaritalstatusID" class="form-control" asp-items="ViewBag.MaritalstatusID"></select>
                <span asp-validation-for="Masterlist.MaritalstatusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.ValidationformID" class="control-label"></label>
                <select asp-for="Masterlist.ValidationformID" class="form-control" asp-items="ViewBag.ValidationformID"></select>
                <span asp-validation-for="Masterlist.ValidationformID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.StatusID" class="control-label"></label>
                <select asp-for="Masterlist.StatusID" class="form-control" asp-items="ViewBag.StatusID"></select>
                <span asp-validation-for="Masterlist.StatusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.IdentificationTypeID" class="control-label"></label>
                <select asp-for="Masterlist.IdentificationTypeID" class="form-control" asp-items="ViewBag.IdentificationTypeID"></select>
                <span asp-validation-for="Masterlist.IdentificationTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
