@page
@model SpinsOnlineRazor.Pages.Masterlists.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Masterlist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Masterlist.ID" />
            <div class="form-group">
                <label asp-for="Masterlist.LastName" class="control-label"></label>
                <input asp-for="Masterlist.LastName" class="form-control" />
                <span asp-validation-for="Masterlist.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.FirstName" class="control-label"></label>
                <input asp-for="Masterlist.FirstName" class="form-control" />
                <span asp-validation-for="Masterlist.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.MiddleName" class="control-label"></label>
                <input asp-for="Masterlist.MiddleName" class="form-control" />
                <span asp-validation-for="Masterlist.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.ExtName" class="control-label"></label>
                <input asp-for="Masterlist.ExtName" class="form-control" />
                <span asp-validation-for="Masterlist.ExtName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.Citizenship" class="control-label"></label>
                <input asp-for="Masterlist.Citizenship" class="form-control" />
                <span asp-validation-for="Masterlist.Citizenship" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.MothersMaiden" class="control-label"></label>
                <input asp-for="Masterlist.MothersMaiden" class="form-control" />
                <span asp-validation-for="Masterlist.MothersMaiden" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.PSGCRegion" class="control-label"></label>
                <input asp-for="Masterlist.PSGCRegion" class="form-control" />
                <span asp-validation-for="Masterlist.PSGCRegion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.PSGCProvince" class="control-label"></label>
                <input asp-for="Masterlist.PSGCProvince" class="form-control" />
                <span asp-validation-for="Masterlist.PSGCProvince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.PSGCCityMun" class="control-label"></label>
                <input asp-for="Masterlist.PSGCCityMun" class="form-control" />
                <span asp-validation-for="Masterlist.PSGCCityMun" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.PSGCBrgy" class="control-label"></label>
                <input asp-for="Masterlist.PSGCBrgy" class="form-control" />
                <span asp-validation-for="Masterlist.PSGCBrgy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.Address" class="control-label"></label>
                <input asp-for="Masterlist.Address" class="form-control" />
                <span asp-validation-for="Masterlist.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.BirthDate" class="control-label"></label>
                <input asp-for="Masterlist.BirthDate" class="form-control" />
                <span asp-validation-for="Masterlist.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.SexID" class="control-label"></label>
                <input asp-for="Masterlist.SexID" class="form-control" />
                <span asp-validation-for="Masterlist.SexID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.MaritalStatusID" class="control-label"></label>
                <input asp-for="Masterlist.MaritalStatusID" class="form-control" />
                <span asp-validation-for="Masterlist.MaritalStatusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.Religion" class="control-label"></label>
                <input asp-for="Masterlist.Religion" class="form-control" />
                <span asp-validation-for="Masterlist.Religion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.BirthPlace" class="control-label"></label>
                <input asp-for="Masterlist.BirthPlace" class="form-control" />
                <span asp-validation-for="Masterlist.BirthPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.EducAttain" class="control-label"></label>
                <input asp-for="Masterlist.EducAttain" class="form-control" />
                <span asp-validation-for="Masterlist.EducAttain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.IDTypeID" class="control-label"></label>
                <input asp-for="Masterlist.IDTypeID" class="form-control" />
                <span asp-validation-for="Masterlist.IDTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.IDNumber" class="control-label"></label>
                <input asp-for="Masterlist.IDNumber" class="form-control" />
                <span asp-validation-for="Masterlist.IDNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.IDDateIssued" class="control-label"></label>
                <input asp-for="Masterlist.IDDateIssued" class="form-control" />
                <span asp-validation-for="Masterlist.IDDateIssued" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.Pantawid" class="control-label"></label>
                <input asp-for="Masterlist.Pantawid" class="form-control" />
                <span asp-validation-for="Masterlist.Pantawid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.Indigenous" class="control-label"></label>
                <input asp-for="Masterlist.Indigenous" class="form-control" />
                <span asp-validation-for="Masterlist.Indigenous" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.SocialPensionID" class="control-label"></label>
                <input asp-for="Masterlist.SocialPensionID" class="form-control" />
                <span asp-validation-for="Masterlist.SocialPensionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.HouseholdID" class="control-label"></label>
                <input asp-for="Masterlist.HouseholdID" class="form-control" />
                <span asp-validation-for="Masterlist.HouseholdID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.IndigenousID" class="control-label"></label>
                <input asp-for="Masterlist.IndigenousID" class="form-control" />
                <span asp-validation-for="Masterlist.IndigenousID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.ContactNum" class="control-label"></label>
                <input asp-for="Masterlist.ContactNum" class="form-control" />
                <span asp-validation-for="Masterlist.ContactNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.HealthStatusID" class="control-label"></label>
                <input asp-for="Masterlist.HealthStatusID" class="form-control" />
                <span asp-validation-for="Masterlist.HealthStatusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.HealthStatusRemarks" class="control-label"></label>
                <input asp-for="Masterlist.HealthStatusRemarks" class="form-control" />
                <span asp-validation-for="Masterlist.HealthStatusRemarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.DateTimeEntry" class="control-label"></label>
                <input asp-for="Masterlist.DateTimeEntry" class="form-control" />
                <span asp-validation-for="Masterlist.DateTimeEntry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.EnteryBy" class="control-label"></label>
                <input asp-for="Masterlist.EnteryBy" class="form-control" />
                <span asp-validation-for="Masterlist.EnteryBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.DataSourceID" class="control-label"></label>
                <input asp-for="Masterlist.DataSourceID" class="form-control" />
                <span asp-validation-for="Masterlist.DataSourceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.StatusID" class="control-label"></label>
                <input asp-for="Masterlist.StatusID" class="form-control" />
                <span asp-validation-for="Masterlist.StatusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.Remarks" class="control-label"></label>
                <input asp-for="Masterlist.Remarks" class="form-control" />
                <span asp-validation-for="Masterlist.Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.RegTypeID" class="control-label"></label>
                <input asp-for="Masterlist.RegTypeID" class="form-control" />
                <span asp-validation-for="Masterlist.RegTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.InclusionBatch" class="control-label"></label>
                <input asp-for="Masterlist.InclusionBatch" class="form-control" />
                <span asp-validation-for="Masterlist.InclusionBatch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.InclusionDate" class="control-label"></label>
                <input asp-for="Masterlist.InclusionDate" class="form-control" />
                <span asp-validation-for="Masterlist.InclusionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.ExclusionBatch" class="control-label"></label>
                <input asp-for="Masterlist.ExclusionBatch" class="form-control" />
                <span asp-validation-for="Masterlist.ExclusionBatch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.ExclusionDate" class="control-label"></label>
                <input asp-for="Masterlist.ExclusionDate" class="form-control" />
                <span asp-validation-for="Masterlist.ExclusionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.DateDeceased" class="control-label"></label>
                <input asp-for="Masterlist.DateDeceased" class="form-control" />
                <span asp-validation-for="Masterlist.DateDeceased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.DateTimeModified" class="control-label"></label>
                <input asp-for="Masterlist.DateTimeModified" class="form-control" />
                <span asp-validation-for="Masterlist.DateTimeModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.ModifiedBy" class="control-label"></label>
                <input asp-for="Masterlist.ModifiedBy" class="form-control" />
                <span asp-validation-for="Masterlist.ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.DateTimeDeleted" class="control-label"></label>
                <input asp-for="Masterlist.DateTimeDeleted" class="form-control" />
                <span asp-validation-for="Masterlist.DateTimeDeleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.DeletedBy" class="control-label"></label>
                <input asp-for="Masterlist.DeletedBy" class="form-control" />
                <span asp-validation-for="Masterlist.DeletedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.WaitlistedReportID" class="control-label"></label>
                <input asp-for="Masterlist.WaitlistedReportID" class="form-control" />
                <span asp-validation-for="Masterlist.WaitlistedReportID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Masterlist.WithPhoto" class="control-label"></label>
                <input asp-for="Masterlist.WithPhoto" class="form-control" />
                <span asp-validation-for="Masterlist.WithPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
